<!DOCTYPE html>
<html>
	<head>
		<title>Web Shop</title>
		<script type="text/javascript" src="http://127.0.0.1:8000/nowjs/now.js"></script>
		<script type="text/javascript" src="http://127.0.0.1/Webshop_jQm/js/jquery-1.6.4.min.js"></script>
		<script>
			$(document).ready(function(){
				$('#teaserButton').click(function() {
					now.distributeTeaser($('#teaserText').val())
				});
				
			});
		</script>
		
	</head>
	<div>
		<textarea type="text" id="teaserText" value=""></textarea>
		<button id="teaserButton">Send</button>
	</div>